.infoCard {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  flex:1 1 0%;
 
  display: flex;
  flex-direction: row;
}

.infoCard:not(:last-child) {
  border-bottom: 1px solid #eeeeee;
}

.infoCardWrapper {
  width: 100%;
  height: inherit;
  flex: 1;
  overflow: hidden;
  margin: auto 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.infoCardInfoWrapper {
  flex: 1 1 0%;
  height: 100%;
}

.infoCardIcon {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.infoCardIcon svg {
  min-width: 16px;
  width: 32px;
  height: 32px;
  margin: auto 0;
}

.infoCardContent {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 80px;
}

.infoCardContentWrapper {
  margin: auto 0;
}

.infoArrow {
  height: 32px;
  width: 32px;
  object-fit: cover;
  margin: auto 0;
}

@media screen and (max-width: 640px) {
  .infoCardIcon {
    padding-left: 0;
  }

  .infoCardIcon svg {
    min-width: 16px;
    width: 16px;
    height: 16px;
  }

  .infoCardWrapper {
    margin: 0.5rem 0;
  }

  .infoCardContent {
    font-size: var(--font-sm);
    height: 60px;
  }

  .infoArrow {
    width: 24px;
    height: 24px;
  }
}